@font-face {
    font-family: "sweet-sans-pro";
    src: url("../fonts/SweetSansProRegular.otf");
}

body body * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'sweet-sans-pro';
}

header {
    font-family: 'sweet-sans-pro';
}

.header-wrapper {
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: #151f4b;
}

.common-heading {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin: 0;
    padding: 10px 40px;
}

.header-logo {
    width: 250px;
}

.header-container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    list-style: none;
    padding: 0;
    margin: 0;

}

.navbar {
    padding: 0 0 0 90px !important;
}

.navbar-user-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #000;
    transition: 0.3s ease;
}

.navbar-user-link:hover {
    border-bottom: 2px solid #36b4e6;
    color: #36b4e6;
    padding-bottom: 5px;
}

.header-btn {
    padding-right: 25px;
}

.free-offer-header-btn {
    width: 220px;
    height: 40px;
    border: none;
    border-radius: 30px;
    color: white;
    background-color: #36b4e6;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.free-offer-header-btn:hover {
    background-color: #293b91;
}

/*header end*/

.sell-your-house-section {
    background-image: url("../images/sell-my-house-fast-spokane.jpg");
    padding: 80px 20px;
    background-size: cover;
    font-family: 'sweet-sans-pro';
}

.sell-my-house-wrapper {
    display: flex;
    justify-content: center;
}

.sell-my-house-faster {
    background: linear-gradient(180deg, rgba(21, 31, 75, 0.7) 0%, rgba(21, 31, 75, 0.7) 100%);;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    flex-direction: column;
    padding: 20px 30px;
    max-width: 880px;
    gap: 20px;
}

.sell-your-house-heading {
    padding: 0;
    font-size: 44px;
    font-weight: 800;
    text-align: center;
}

.sell-your-house-paragraph {
    font-size: 22px;
    font-weight: 800;
    padding: 0;
    text-align: center;
}

.sell-my-house-form {
    width: 100%;
}

.sell-my-house-form input:focus {
    outline: none;
}

.home-address-input {
    border-radius: 40px;
    height: 60px;
    width: 66%;
    border: none;
    padding: 0 15px;
    margin-right: 7px;
}

.phone-no-input {
    width: 33%;
    border: none;
    border-radius: 40px;
    height: 60px;
    padding: 0 15px;
}

.form-input-btn {
    padding: 5px;
}

.form-input-btn button {
    width: 100%;
    height: 60px;
}

.home-buyer-description {
    padding-bottom: 10px;
}

.home-buyer-line {
    font-size: 18px;
    font-weight: 800;
    padding: 0;
}

.sell-my-house-reviews-image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.companies-sell-house-section {
    background-color: #151f4b;
    font-family: 'sweet-sans-pro';
}

.companies-sell-house-near-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 50px;
}


.companies-sell-house-near-me span {
    padding: 0;
    font-size: 20px;
    font-weight: 400;
    transition: 0.3s ease;
}

.companies-sell-house-near-me-images img {
    width: 125px;
    transition: 0.3s ease;
}

.companies-sell-house-near-me span:hover {
    color: #b1b1b1;
}

.companies-sell-house-near-me img:hover {
    filter: grayscale(100%) brightness(0) invert(65%) sepia(0) saturate(0%) hue-rotate(0deg);
}

.how-we-sell-house-fast-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'sweet-sans-pro';
    padding-top: 80px;
}

.how-we-sell-house-fast-wrapper {
    text-align: center;
    max-width: 900px;
}
.how-we-sell-house-fast-heading {
    font-size: 32px;
    font-weight: 900;
    color: #36b4e6;
    padding: 0;
}
.how-we-sell-house-fast-paragraph {
    margin: 0;
    padding-top: 15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}
.content-box-section {
    font-family: 'sweet-sans-pro';
}
.content-box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
    gap: 30px;
}
.content-box-wrapper {
    text-align: center;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
    width: 380px;
    min-height: 360px;
    padding: 36px;
}
.content-box-heading {
    font-size: 20px;
    font-weight: 800;
    padding: 20px 0;
    margin: 0;
}
.content-paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin: 0;
}
.content-icon img {
    width: 60px;
}
.icon-with-heading {
    transition: 0.3s ease;
}
.icon-with-heading:hover {
    color: #36b4e6;
}
.sell-your-house-with-stress-free-section {
    background-color: #151f4b;
}
.house-buyer-team-image {
}
.house-buyer-team-image img {
    height: 500px;
}